

<div style="flex-direction: column;">
    <h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 5px;">COPS LIST</h2>
      <button mat-button type="button" style="top: -50px;"
      
      (click) = "navigateToCreateCop()">
      Add Cop
     </button>   
    </div>
    <br>
    <div>
    <table mat-table style="text-align: center; margin-top: -45px;" [dataSource]="cops" class="mat-elevation-z8" *ngIf = "(authService.getUser()| async)">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.id}}</span> 
          </td>
        </ng-container>
      
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.name}}</span> 
          </td>
        </ng-container>
      
        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.age}}</span> 
          </td>
        </ng-container>
      
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.phone}}</span>    
          </td>
        </ng-container>

         <!-- Rank Column -->
         <ng-container matColumnDef="rank">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Rank </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span>{{element.rank}}</span>    
          </td>
        </ng-container>
  
        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell style="text-align: center;" *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button color="warn" (click) = "deleteCop(i)" >
          Delete
        </button>
          </td>
        </ng-container>    

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    
     
  
      </table>
    </div>
