<h2 style="text-align: center; font-size: 32px; color: rgb(42, 64, 83); margin-top: 20px;">Add Cop</h2>
<div>
    <form matForm style="margin: 0 auto; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; width: 900px; background-color: rgb(255, 255, 255); padding-inline-end: 40px; padding-inline-start: 40px;">
      <div style="display: flex;justify-content: space-between;">

        <mat-form-field appearance="standard">
            <mat-label>Id</mat-label>
            <input matInput
            [(ngModel)] = "id"
             name = "id"
            required>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput
            [(ngModel)] = "name"
             name = "name"
            required>
        </mat-form-field>
        
        <mat-form-field appearance="standard">
            <mat-label>Age</mat-label>
            <input matInput
            [(ngModel)] = "age"
             name = "age"
            required>
        </mat-form-field>

      <mat-form-field appearance="standard">
          <mat-label>Phone</mat-label>
          <input matInput type="number"
          min="0" max="110" 
          [(ngModel)] = "phone"
           name = "phone"
          required>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Rank</mat-label>
        <input matInput type="number"
        min="0" max="110" 
        [(ngModel)] = "rank"
         name = "rank"
        required>
    </mat-form-field>

      </div>
      <div style="padding: 5px;  margin-bottom: 30px; margin-top: -5px; margin-left: 17px;">
        <button mat-button type="submit" color="primary" style="margin-bottom: 30px; margin-left: 340px; margin-top: -30px;"
        (click) = "addCop()">
        Save
        </button> 
        <button mat-button type="button" (click)= "onCancel()" style="margin-left: 20px;" 
        >
            Cancel
        </button> 
        <br>
    </div>

    </form>


  </div>

                    
  