<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/news" routerLinkActive="active">News</a>
      <a mat-list-item routerLink="/cases" routerLinkActive="active">Cases</a>
      <a mat-list-item routerLink="/cops" routerLinkActive="active">Cops</a>
      <a mat-list-item routerLink="/suspects" routerLinkActive="active">Suspects</a>
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img style="width: 40px;height: 40px;" src="assets/images.png">
      <span style="margin-left: 10px;">Suicide Case Prediction</span>
      <span class="spacer"></span>
      <!-- <a mat-button style="margin-right:15px; height: 30px;" routerLink="/signup" *ngIf="!(authService.getUser()|async)">Signup</a> -->
      <a mat-raised-button style="width: 180px; padding-left: 10px; height: 35px; font-size: 15px; margin-left: auto; margin-right: 25px;" routerLink="/signup" *ngIf="!(authService.getUser()|async)"><mat-icon style="margin-top: -3px;">person_add</mat-icon> Signup</a>
      <a mat-raised-button style="width: 180px; height: 35px; font-size: 15px; margin-left: auto; margin-right: auto;" routerLink="/login" *ngIf="!(authService.getUser()|async)"> <mat-icon style="margin-top: -3px; margin-right: 3px;">account_circle</mat-icon>Login</a>
      <!-- <a class="whitelink" style="margin-right:15px ;" routerLink="/signup" *ngIf="!(authService.getUser()|async)">Signup</a>
      <a class="whitelink" routerLink="/login" *ngIf="!(authService.getUser()|async)">Login</a> -->
      <button mat-raised-button style="padding-left: 10px;" (click)="logout()" *ngIf="(authService.getUser()|async)">Logout</button>
      <!-- <a class="whitelink1" (click)="logout()" *ngIf="(authService.getUser()|async)">Logout</a> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
<div class="footer" color="primary">
  <p>
    @ For any problem, the Azrieli team is here for you at the email address AngularForEver@jce.ac.il
  </p>
</div>
