.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(226, 234, 238);
}

.sidenav .mat-toolbar {
  background: inherit;
  
}

.mat-toolbar.mat-primary {
  background: rgb(1, 84, 120);
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-left: 450px;
}

.whitelink {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.spacer {
  width: 100%
}

.whitelink1 {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}
