<div style="margin-left: 350px; border:3px solid rgb(214, 213, 213); width: 400px; margin: auto;">
<div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title style="text-align: center;" *ngIf="!uploudedphoto">Please upload a picture of the suspect</mat-card-title>
          <br>
          <br>
          <mat-card-subtitle>
            <div class="main">
            <input hidden (change)="onFileUpload($event)" class="custom-file-input" #inputImage placeholder="Upload File" type="file" />
            <button *ngIf="!uploudedphoto" mat-raised-button style="margin-left: 105px;" (click)="inputImage.click()" class="myButton">Upload Image</button>
            <button *ngIf="uploudedphoto" mat-raised-button class="myButton" (click)="compare()">Click to compare</button>
            <button *ngIf="uploudedphoto" mat-raised-button  (click)="inputImage.click()" class="myButton">Try Other Image</button>
          </div>
        </mat-card-subtitle>
        </mat-card-header>
    <br>
        <mat-card-content>
          <img *ngIf="uploudedphoto" mat-card-image style="height: 300px; width: 300px; margin-left:20px;" src={{photo}}>
          <div *ngIf="similarity" >
            <p *ngIf="similarity?.Face">
              similarity: {{similarity.Similarity}}
            </p>
            <p *ngIf="!similarity?.Face" style="font-weight: bold;margin-left:30px; color: red; ">
              No Match
            </p>
        </div>
        </mat-card-content>
      </mat-card>
</div>
</div>