<br>
<div style="display: flex;flex-direction: column;">
    <h1 style="margin: auto;font-weight: bold;">Welcome to the suicide prediction system</h1>
    <br>
  
    <h3 style="margin: auto">Dear Police Officer The system is designed to help you investigate and resolve deaths.</h3>

    <h4 style="margin: auto">Use it wisely and remember the data is for your eyes only.</h4>
<br>
    <img style="width: 400px;height: 300px;margin:auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);" src="assets/police1.png">
  </div>

 
 
  
  
  